root = true

[*.css]
indent_size = 4
insert_final_line = true
trim_trailing_whitespace = true

[*.html]
indent_size = 2
insert_final_line = true
trim_trailing_whitespace = true

[*.{js,jsx}]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx}]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
